body {width: 577.28px;
    height: 335px;
    background: #C1C1C3;}

.header {
    background-color: #202846;
    width: 1920px;
    height: 90px;

}
.header-list {position: absolute;
    width: 1066px;
    height: 57px;
    left: 609px;
    top: 17px;
    list-style: none;}

.logo {border-radius: 167px;position: absolute;
    width: 178.45px;
    height: 70px;
    left: 138px;
    top: 10px;}
.site-nav {position: absolute;
    width: 1920px;
    height: 90px;
    left: 0px;
    top: 0px;
    
    background: #202846;

}

.bg {background: url(12345.jpg);}


.container {
    position: relative;
}
.container img {position: absolute;width: 1488px;
    height: 369px;
    margin:left: -3px;
    top: 0px;
}

.container h1 {position: absolute;
     color: #EEECF1;
}

.container p {
    position: absolute;
    color:#EEECF1;
}


footer {background-color:#202846;
    width: 1920px;
    height: 90px;
    color: #EEECF1}





    h1 {position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 75px;
        line-height: 97px;
        display: flex;
        align-items: center;
        text-align: center;
        
        color: #FFFFFF;
        

    }